body {
    width: 50%;
    margin: auto;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    color: #000000;
    /* margin-bottom: 40px; */
}

.header {
    padding: 50px 0px 15px 45px;
    /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}

button {
    cursor: pointer;
}

.mainContainer {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 30px; */
    padding: 45px;

}

.itemBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 10px 0px;
}

.addBtn {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    color: #3C3C3C;
    background-color: white;
}

.emoji {
    height: 99px;
    width: 109px;
    font-weight: 400;
    font-size: 78.72px;
    line-height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderContainer {
    display: none;
}

.orderContainer h3 {
    margin: 45px auto;
    text-align: center;
}

.removeBtn {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #BBBBBB;
    background-color: white;
    border: none;
    cursor: pointer;
}

.textBtn {
    background-color: #16DB99;
    color: white;
    border-radius: 3px;
    border: none;
    width: 100%;
    text-align: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    height: 60px;
    margin-top: 20px;
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); */
}

.closeBtn {
    display: block;
    margin-left: auto;
    background-color: #16DB99;
    color: white;
    text-align: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    border: none;
    border-radius: 3px;
    padding: 5px 7px;
}

.span-left {
    margin-left: auto;
    display: inline-block;
}

.cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    margin: 10px auto;
    gap: 10px;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
}

h4 {
    font-size: 20px;
    line-height: 24px;
}

.header h3 {
    font-size: 22.4216px;
    line-height: 14px;
    margin: 20px 0px;
}

.modalFlex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 5px 10px;
}

.paymentModal {
    width: 30%;
    background: #FFFFFF;
    border-radius: 4px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 300px;
    box-shadow: 0px 0px 100px 1px black;
    padding: 10px;
    display: none;
}

.paymentModal h2 {
    margin: 25px 0px 25px 0px;
    text-align: center;
}

.paymentAck {
    background: #ECFDF5;
    border-radius: 3px;
    color: #065F46;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: none;
}